<a href="https://colab.research.google.com/github/subashinianand/sales-dataset-project-1/blob/main/sales_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
file_path="/content/drive/MyDrive/Colab Notebooks/sales_data.csv"

In [4]:
import pandas as pd
df=pd.read_csv(file_path)
df.head()

,Product_ID,Sale_Date,Sales_Rep,Region,Sales_Amount,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel,Region_and_Sales_Rep
0,1052,2023-02-03,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online,North-Bob
1,1093,2023-04-21,Bob,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail,West-Bob
2,1015,2023-09-21,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail,South-David
3,1072,2023-08-24,Bob,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail,South-Bob
4,1061,2023-03-24,Charlie,East,3750.20,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online,East-Charlie

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Product_ID            1000 non-null   int64
 1   Sale_Date             1000 non-null   object
 2   Sales_Rep             1000 non-null   object
 3   Region                1000 non-null   object
 4   Sales_Amount          1000 non-null   float64
 5   Quantity_Sold         1000 non-null   int64
 6   Product_Category      1000 non-null   object
 7   Unit_Cost             1000 non-null   float64
 8   Unit_Price            1000 non-null   float64
 9   Customer_Type         1000 non-null   object
 10  Discount              1000 non-null   float64
 11  Payment_Method        1000 non-null   object
 12  Sales_Channel         1000 non-null   object
 13  Region_and_Sales_Rep  1000 non-null   object
dtypes: float64(4), int64(2), object(8)
memory usage: 109.5+ KB

In [6]:
df.columns

Index(['Product_ID', 'Sale_Date', 'Sales_Rep', 'Region', 'Sales_Amount',
       'Quantity_Sold', 'Product_Category', 'Unit_Cost', 'Unit_Price',
       'Customer_Type', 'Discount', 'Payment_Method', 'Sales_Channel',
       'Region_and_Sales_Rep'],
      dtype='object')

In [8]:
sales_array=df["Sales_Amount"].to_numpy()
quantity_array=df["Quantity_Sold"].to_numpy()
df['profit']=df['Sales_Amount'] - (df['Quantity_Sold']*df['Unit_Cost'])
print("sales Array:",sales_array[:5])

sales Array: [5053.97 4384.02 4631.23 2167.94 3750.2 ]

In [9]:
import numpy as np
total_sales = np.sum(sales_array)
average_sales = np.mean(sales_array)

print("Total Sales:", total_sales)
print("Average Sales:", average_sales)

Total Sales: 5019265.2299999995
Average Sales: 5019.265229999999

In [10]:
print("First 5 Sales:", sales_array[:5])

First 5 Sales: [5053.97 4384.02 4631.23 2167.94 3750.2 ]

In [13]:
print("First 5 sales:",sales_array[-5:])

First 5 sales: [4733.88 4716.36 7629.7  1629.47 4923.93]

In [14]:
mean_sales = np.mean(sales_array)
median_sales = np.median(sales_array)
variance_sales = np.var(sales_array)
std_sales = np.std(sales_array)

print("Mean:", mean_sales)
print("Median:", median_sales)
print("Variance:", variance_sales)
print("Standard Deviation:", std_sales)

Mean: 5019.265229999999
Median: 5019.3
Variance: 8096109.805582548
Standard Deviation: 2845.3663745785966

In [15]:
price_array = df["Unit_Price"].to_numpy()

revenue_array = quantity_array * price_array

print("Revenue (first 5):", revenue_array[:5])

Revenue (first 5): [  4809.96  71560.48  11142.   174242.25   9005.23]

In [17]:
profit_array = df['profit'].to_numpy()
profit_margin = (profit_array / sales_array) * 100
print("Profit Margin % (first 5):", profit_margin[:5])

Profit Margin % (first 5): [   45.59722357 -1379.88900598   -69.43231064 -7689.47618477
  -120.9431497 ]